<div>
  <h1>Welcome to JeanStation Online</h1>
  <nav>
    <a routerLink="/admin" routerLinkActive="active">Admin</a><br>
    <a routerLink="/cart" routerLinkActive="active">Cart</a><br>
    <a routerLink="/order" routerLinkActive="active">Order</a><br>
    <a routerLink="/product-details" routerLinkActive="active">Product Details</a><br>
    <a routerLink="/payment" routerLinkActive="active">Payment</a><br>
    <a routerLink="/status" routerLinkActive="active">Status</a><br>
    <a routerLink="/user" routerLinkActive="active">User</a><br>
    <a routerLink="/login" routerLinkActive="active">Login</a><br>
    <a routerLink="/register" routerLinkActive="active">Register</a>
  </nav>
</div>
<router-outlet></router-outlet>

